<%- include('../partials/header.ejs') %>

<div class="wrapper-dashboard">
    <%- include('../partials/nav-admin.ejs') %>
    <div class="main">
        <%- include('../partials/x-admin.ejs') %>

        <main  class="content px-3 py-2">
            <div class="d-flex justify-content-around align-items-center" >
                <h2>Danh sách chủ hộ</h2>
                <input type="text" name="" id="search" placeholder="Search...">
            </div>
            <div id="table" class="table-room">
                <table style="width: 100%;">
                    <tr>
                        <th>Tên</th>
                        <th>Số điện thoại</th>
                        <th>căn hộ sở hữu</th>
                    </tr>
                    <% users.forEach(u => { %>
                        <tr>
                            <td><%= u.fullname %></td>
                            <td><%= u.phone %></td>
                            <td><%= u.id_phong.name %></td>
                        </tr>
                    <%}) %>
                </table>
            </div>
            
        </main>
    </div>
</div>

<script>
    document.querySelector('#search').addEventListener('input', handleSearch)
function handleSearch(){
    let filter = document.getElementById('search').value.toLowerCase();
    let table = document.getElementById('table');
    let tr = table.getElementsByTagName('tr');
    for(var i = 0; i<tr.length; i++){   
        let td = tr[i].getElementsByTagName('td')[0];
        if(td){
            let textValue = td.textContent || td.innerHTML;

            if(textValue.toLowerCase().includes(filter)){
                tr[i].style.display = ""
            } else {
                tr[i].style.display = "none"
            }
        }
    }
}
</script>

<%- include('../partials/footer.ejs') %>