<%- include('./partials/header.ejs') %>


    <div class="title-news">
        <h1><%= news.title %></h1>
    </div>

    <div class="main-news">
        <div class="main-news-left">
            <div class="time"><span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold;"><%= news.date_created.toDateString() %></span></div>
            <div class="content"><div id="detail-content"><%-news.content-%></div></div>
        </div>
        <div class="main-news-rigth">
            <input type="text" id="search" placeholder="Tìm kiếm...">
            <div style="margin-top: 15px;">
                <h2>Bài viết mới</h2>
            </div>
            <div class="list-news">
                <ul>
                    <% post.forEach(n => { %>
                        <li><a href="/news/<%= n._id %>"><span><%= n.title %></span></a></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const search = document.querySelector('#search')
        search.addEventListener('input', function(e){
            const filter= e.target.value.toLowerCase();
            const item = document.querySelectorAll('.list-news li')
            item.forEach( i => {
                let text = i.textContent.toLowerCase();
                if(text.includes(filter.toLowerCase())){
                    i.style.display = '';
                } else {
                    i.style.display = 'none';
                }
            })
        })
    </script>
<%- include('./partials/footer.ejs') %>